*{
    margin:0;
    padding:0;
    border-width: 0;
    background-color: transparent;
}

header{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
    align-items:flex-start;
}

header h1{
    font-size: 80px;
    padding: 10px;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: linear-gradient(to left top, #662D8C,#ED1E79,orange);
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    
}

form{
    justify-content: center;
    display: flex;
    padding: 20px;
    border-radius: 50px;
    font-size: x-large;
}

#search-input{
    padding-left: 2vw;
    border-width: 2px;
    border-left: none;
    border-right: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30vw;
    outline:none;
    font-size: large;
    background-color: white;
}

form button{
    padding: 5px;
    border-width: 2px;
}

#search-btn{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: none;
    padding-left: 10px;
    background-color: white;
}

#close-search-btn{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: none;
    padding-right: 10px;
    background-color: white;
}


h2{
    padding-top:30px;
    justify-content: center;
    display: flex;
    align-self: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden{
    display: none; 
}

.grid-container{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    align-content: center;
    justify-content: center;
    column-gap: 30px;
    padding: 20px;
}

@keyframes transparent {
    from {opacity: 0.1;}
    to {opacity: 1.0;}
  }

.grid-item{
    padding: 20px;
}

.grid-item:hover{
    opacity: 0.7;
    transition-duration: 1s;
    animation-timing-function: ease-out;
}

.movie-poster{
    width: 200px;
}

#load-more-div{
    justify-content: center;
    display: flex;
    padding: 20px;
    padding-bottom: 90px;
}

#expand-icon{
    font-size: 50px;
}

#expand-icon:hover{
    transform: scale(0.8);
    transition-duration: 0.5s;
}

#popup{
    position: fixed;
    left:20vw;
    right:20vw;
    top: 0;
    z-index: 100;
    width: 60%;
    height: 70%;
    background-color: white;
}


footer{
    width: 300px;
}

footer img{
    width: 100px;
}
