*{
    margin:0;
    padding:0;
    border-width: 0;
    background-color: transparent;
    scroll-behavior: smooth;
    
}

header{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
    align-items:flex-start;
    background: linear-gradient(salmon, rgba(0,0,0,0));
}

.dark-mode header{
    background: linear-gradient(black, rgba(0,0,0,0));
}

header h1{
    font-size: 80px;
    padding: 10px;
    color: white;
    text-shadow: 3px 4px 3px black;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: linear-gradient(to left top, #fbd786, #f7797d);
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    
}

form{
    justify-content: center;
    display: flex;
    padding: 20px;
    border-radius: 50px;
    font-size: x-large;
}

#search-input{
    padding-left: 2vw;
    border-width: 2px;
    border-left: none;
    border-right: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30vw;
    outline:none;
    font-size: large;
    background-color: white;
}

form button{
    padding: 5px;
    border-width: 2px;
}

#search-btn{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: none;
    padding-left: 10px;
    background-color: white;
}

#close-search-btn{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: none;
    padding-right: 10px;
    background-color: white;
}


h2{
    padding-top:30px;
    justify-content: center;
    display: flex;
    align-self: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden{
    display: none !important; 
}

.grid-container{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    align-content: center;
    justify-content: center;
    column-gap: 30px;
    padding: 20px;
}


.grid-item{
    padding: 20px;
    
}

.grid-item:hover{
    transition-duration: 1s;
    animation-timing-function: ease-out;
}

.movie-poster{
    width: 200px;
    border-radius: 10px;
    box-shadow: 3px 6px #888888;
}

.movie-poster:hover{
    opacity: 0.5;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

#load-more-div{
    justify-content: center;
    display: flex;
    padding: 20px;
    padding-bottom: 90px;
}

#expand-icon{
    font-size: 50px;
}

#expand-icon:hover{
    opacity: 0.8;
}

#popup-div{
    position: fixed;
    left:15vw;
    right:15vw;
    top: 5vw;
    z-index: 100;
    width: 70%;
    height: auto;
    background-color: white;
    padding-bottom: 30px;
    text-align: center;
    border-radius: 20px;
    color: black;
    display: flexbox;
    overflow: hidden;
   
}

#popup-div p{
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
}

#popup-close-btn{
    float: left;
    padding-right: 10px;
    color: black
}

.backdrop{
    z-index: -4;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    overflow: hidden;
    opacity: 0.3;
    
}

.popup-top{
    display: flex;
    font-size: x-large;
    color: black;
    background-color: rgba(255, 160, 122, 0.9);
    padding: 15px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

footer{
    background: linear-gradient(rgba(0, 0, 0, 0), black);
    padding: 40px;
    display: flex;
    align-items: baseline;
    color: white
}

footer img{
    width: 100px;
    float: left;
    padding-right: 10px;
}

iframe{
    padding: 20px;
}

.dark-mode{
    background: linear-gradient(#09203F, #537895);
    color: white;
}

.dark-mode #popup-div{
    background-color: black;
    color: white
}

.dark-mode .popup-top{
    background-color: rgb(48, 93, 132);
}

nav{
    background: lightblue;
    width: 30px;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed
}

ul{
    list-style-type: none;
}

li{
    padding: 5px;
}

li i:hover{
    color: white;
}